.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: rgb(141, 218, 231);
    .footer-left{
        p{
            color: black;
            letter-spacing: 0.3px;
            font-size: larger;
        }
    }

    .footer-right{
        display: flex;
        align-items: center;
        gap: 35px;
        a{
            text-decoration: none;
            cursor: pointer;

            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
                background-color: white;
            }
        }
    }

}